
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');

*{
    font-family:'work sans';
    
}
/* header styles */
.header{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding-left: 99px;
    margin-bottom: 0px;
}
.header-title{

    font-size: 45px;
    color: #131313;

}
.header-nav{
    display: flex;
    list-style-type: none;
    margin-right: 240px;
}
.header-nav li{
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* Group Styles */
.group{
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    margin-top: 0px;
}
.group-item{
    padding-left: 529px;
    padding-right: 529px;
    padding-top: 20px;
    padding-bottom: 33px;
}
.group-title{
    font-size: 64px;
    color: #131313;
}
.group-article{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.primary-button{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 21px 25px;
    border: 0px;
}
.group-banner{
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    padding-top: 50px;
}
/* Feature Styles */

.feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
    margin-left: 301px;

}
.feature-banners{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;

}
.feature-banner{
    border-radius: 8px;
    width: 342px;
    height: 342px;
}
.feature-items{
    margin-left: 73px;
}
.feature-title{
    font-weight: 500;
    font-size: 45px;
}
.bold-text1{
    color: #727272;
}
.bold-text2{
    color: #131313;
}
.bold-text3{
    color: #FF900E;
}
.feature-article{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-right: 301px;
    margin-bottom: 32px;
}
/* Features you will love and enjoy styles which is named as feature2 */
.feature2{
    display: flex;
    justify-content: space-around;
}
.feature2-container{
    display: flex;
    flex-direction: column;
    margin-top: 169px;
    margin-left: 244px;
    margin-right: 54px;
    height: 1059px;
}
.feature2-title{
    border-left:5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    padding-left: 21px;
}
.feature2-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature2-items{

    overflow: hidden;
    text-transform: none;
    text-overflow: ellipsis;
}
.feature2-item{
    position: relative;
    padding: 30px 42px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.item-title{
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}
.experience-items{
    margin: 130px 240px 130px 54px;
}
.experience-content{
    background-color: #FF900E;
    text-align: center;
    padding: 46px 42px;
    border: 0;
    margin-top:-250px;
    margin-left: -40px;
    border-radius: 8px;

}
.experience-title{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
.experience-description{
    color: #FFFFFF;
    font-size: 25px;
}
.experience-banner{
    width: 708px;
    height: 982px;
    border-radius: 8px;
}
/* Top Architects Styles */
.architect{
    display: flex;
    margin-top: 230px;
}
.architect-container{
    background-color:#FFFFFF;
    padding: 140px;
    margin-top: 21px;
    border-radius: 8px;
    width: 100%;
   
}
.architect{
    margin-bottom: 30px;
}
.top-architects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 150px;
    grid-column-gap: 150px;
    padding: 0px 150px;
}
.architect-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.top-architect{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.top-architect img{
    width: 156px;
    height: 156px;
    padding-right: 30px;
}
.top-architect h3{
    color: #562EEF;
    font-weight: 400px;
}
/* Facts Styles */
.fact{
    margin-top: 40px;
}
.fact-element{
    padding: 130px 0px 80px 240px;
}
.fact-title{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 10px;
}
.fact-items{
    margin-left: 290px;
    margin-right: 290px;
    display: flex;
    justify-content: space-between;
}
.fact-item{
    display: flex;
    width: 150px;
    height: 140px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 35px;
    transition: width 2s, height 2s;
   
}
.fact-item:hover{
    width: 200px;
    height: 200px;
}
.fact-item img{
    width: 45px;
    height: 45px;
}

/* Sponsors Styles */
.sponsor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}
.sponsor-element{
   align-items: center;
   padding-bottom: 50px;
}
.sponsor-title{
   text-align: center;
   font-weight: 700;
   font-size: 45px;
}
.sponsor-description{
    text-align: center;
}
.sponsor-items{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 100px;
}
.sponsor-item img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/* Footer Styles */

.footer{
    background: #FFF4E7;
    border-radius: 8px;
    height: 100px;
    padding: 39px 410px;
    margin: 130px 240px;
}
.footer-article{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;

}
/* Mobile View */
@media only screen and (max-width:568px){
    /* header styles */
    .header{
        flex-direction: column;
    }
    .header-nav{
        text-align: center;
        flex-direction: column;
    }
    /* group styles */
    .group{
        width: 100%;
        background-color: rgba(255, 144, 14, 0.1);
    }
    .group-container{
        text-align: center;
        align-items: center;
    }
    .group-item{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 0;  
    }
    .group-banner{
        width: 100%;
        height: 300px;
    }
    /* feature styles */
    .feature-container{
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-left: 100px;
    }
    .feature-banners{
        grid-template-columns: repeat(1, 1fr);
    }
    /* feature2 styles */
    .feature2{
        flex-direction: column;
        margin-top: 1px;     
    }
    .feature2-element{
        overflow: hidden;
        text-transform: none;
        text-overflow: ellipsis;
    }
    .feature2-title{
        margin-left: 2px;
    }
    .experience-banner{
        width: 300px;
        height: 400px;
    }
    /* architect design*/
    .top-architects{
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 10px ;
    }
    /* fact styles */
    .fact{
        flex-direction: column;
    }
    .fact-items{
        flex-direction: column;
    }
/* sponsor styles */
    .sponsor-container{
        flex-direction: column;
    }
    .sponsor-items{
        grid-template-columns: repeat(1,1fr);
        row-gap: 10px;
    }
    .footer{
        width: 500px;
        font-size: 10px;
        padding: 0px 20px;
        margin: 0px 0px;
        background-color: white;
    }
}